@tailwind base;
@tailwind components;
@tailwind utilities;

/*
#ff630a
#0033a0
*/

body {
  font-family: League Spartan;
}

/*
---break---
*/

@layer base {
  .theme {
    --animate-grid: grid 15s linear infinite;
  }
}

/*
---break---
*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
---break---
*/

@theme inline {
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
}